body {
    margin: 0px;
    padding: 0px;
    font-family: Poppins;
    background-color: lavender;
}

:root {
    --main-color: slateblue;
}

.main {
    display: flex;
    min-height: 100vh;
    padding: 0px 15px;
    align-items: center;
    justify-content: center;
}

#todoList {
    width: 370px;
    margin: 0 auto;
    height: 580px;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

#heading {
    width: 100%;
    margin: 0 auto;
    color: white;
    font-size: 32px;
    font-weight: 900;
    padding: 15px 0px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: var(--main-color);
}

#today {
    width: 80%;
    display: flex;
    margin: 10px auto;
    align-items: center;
    color: var(--main-color);
    justify-content: space-between;
}

#date {
    display: flex;
    align-items: center;
}

#todayDate {
    font-size: 45px;
    font-weight: 700;
    margin-right: 10px;
}

#holder {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    flex-direction: column;
}

#day {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

#controls {
    margin: auto;
    display: flex;
    margin-top: 15px;
    max-width: 285px;
    padding: 0px 10px;
    align-items: center;
    flex-direction: column;
}

#todo {
    width: 100%;
    border: none;
    font-size: 15px;
    transition: 0.3s;
    padding: 5px 0px;
    font-family: Poppins;
    border-bottom: 1px solid gainsboro;
}

#todo:focus {
    outline: none;
    transition: 0.3s ease;
    border-bottom: 1px solid var(--main-color);
}

#todo:focus::-webkit-input-placeholder {
    visibility: hidden;
}

label {
    bottom: 25px;
    font-size: 12px;
    visibility: hidden;
    position: relative;
    transition: 0.3s ease;
    transition-delay: -1s;
    color: var(--main-color);
}

#todo:focus + label {
    bottom: 47px;
    visibility: visible;
    transition: 0.3s ease;
}

#operations {
    width: 100%;
    display: flex;
    margin-top: -10px;
    justify-content: flex-start;
}

#btn1 , #btn2 {
    width: 85px;
    border: none;
    height: 25px;
    color: white;
    cursor: pointer;
    font-size: 12px;
    padding: 4px 8px;
    font-family: Poppins;
    overflow: hidden;
    transition: 0.3s ease;
    background-color: royalblue;
    box-shadow: 1px 1px 3px gray;
}

#btn2 {
    margin-left: 15px;
    background-color: orangered;
}

#btn1:focus , #btn2:focus {
    outline: none;
}

#btn1:hover, #btn2:hover {
    width: 95px;
}

#allItems {
    width: 300px;
    line-height: 0px;
    margin: 45px auto;
    padding: 0px 10px;
}

#allItems h3 {
    color: gray;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 25px;
}

#taskList {
    margin: 0px;
    padding: 0px;
    overflow: auto;
    max-height: 250px;
    list-style-type: none;
}

#taskList::-webkit-scrollbar {
    width: 0px;
}

#taskList li {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
}

#task {
    width: 210px;
    border: none;
    height: 28px;
    font-size: 14px;
    font-weight: 400;
    font-family: Poppins;
    transition: 0.3s ease;
    border-bottom: 2px solid lavender;
}

#task:disabled {
    color: black;
    background-color: transparent;
}

#task:focus { outline: none; }

#task.edit {
    padding-left: 7px;
    border-bottom: 2px solid var(--main-color);
}

#editBtn, #deleteBtn {
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 5px;
    padding: 5px 7px;
    border-radius: 100%;
    background-color: red;
}

#editBtn {
    font-size: 15px;
    padding: 6px 7px;
    margin-right: 7px;
    background-color: seagreen;
}