body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
    background-color: #161616;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    height: 85vh;
    display: flex;
    overflow: hidden;
    min-width: 360px;
    padding: 20px 0px;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 10px 35px black;
    background: linear-gradient(to bottom, #323338, #1e1f20);
}

#timerCircle.addAnimation {
    stroke-dasharray: 712;
    stroke-dashoffset: -712;
    animation-play-state: paused;
    animation: animatedCircle 60s linear infinite;
}

@keyframes animatedCircle {
    from {
        stroke-dashoffset: -10;
    }
}

.timer {
    width: 100%;
    height: 250px;
    display: flex;
    font-size: 27px;
    color: ghostwhite;
    align-items: center;
    justify-content: center;
}

.timer span { 
    width: 40px;
    opacity: 0.5;
    text-align: center;
}

#milliSec {
    width: 30px;
    font-size: 18px;
    transform: translateY(2px);
}

.controls {
    width: 55%;
    display: flex;
    margin-top: 15px;
    text-align: center;
    justify-content: space-around;
}

.controls i {
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    padding: 10px 12px;
    border-radius: 100%;
    transition: 0.3s ease;
    background-color: dodgerblue;
}

.controls i:hover {
    transition: 0.2s ease;
    transform: scale(1.05);
}

.controls button:focus {
    outline: none;
}

.laps {
    width: 75%;
    margin: 0px;
    height: 25px;
    padding: 0px;
    margin-top: 30px;
}

.laps h4 {
    margin: 0px;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    color: ghostwhite;
    align-items: center;
    justify-content: space-between;
}

.laps h4 i {
    font-size: 17px;
    cursor: pointer;
}

#laps {
    margin: 0px;
    display: flex;
    overflow: auto;
    list-style: none;
    line-height: 0px;
    padding: 5px 0px;
    max-height: 175px;
    flex-direction: column-reverse;
}

#laps li { margin-top: -15px; }

#laps h6 {
    display: flex;
    color: #ccc;
    font-size: 13px;
    font-weight: 400;
    justify-content: space-between;
}

#laps::-webkit-scrollbar {
    width: 0px;
}
 
#cutTime span {
    width: 18px;
    text-align: center;
    display: inline-block;
}

@media screen and (max-width: 540px) {
    .card {
      min-width: 320px !important;
    }
}