@font-face {
font-family: OpenSans;
src: url(fonts/OpenSans-Regular.ttf);
}

@font-face {
font-family: Merriweather;
src: url(fonts/Merriweather-Regular.ttf);
}    

body , html {
    margin: 0px;
    padding: 0px;
    font-family: OpenSans;
    scroll-behavior: smooth;
}

#header {
    color: white;
    max-width: 100%;
    font-size: 14px;
    padding: 4px 0px;
    background-color: #316dc3;
}

#header .row div {
    padding: 4px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#header-left a  {
    color: white;
    font-size: 16px;
    margin-right: 6px;
    padding: 8px 10px;
    text-decoration: none;
}

#header-left a:hover {
    color: white;
    transition: 0.3s;
    background: royalblue;
}

#header-right a {
    font-size: 11px;
    color: #427900;
    padding: 5px 10px;
    margin-right: 2px;
    text-align: center;
    border: 1px solid #427900;
    background-color: #f5f5f5;
}

.navbar {
    top: -1px;
    z-index: 1;
    max-width: 100%;
    position: sticky;
    border-bottom: 1px solid lavender;
}

.navbar .row {
    margin: auto; 
    display: flex;
    min-width: 90%;
    align-items: center;
}

#toggle {
    color: grey;
    font-size: 26px;
}

#main_nav a {
    color: black;
    font-size: 13px;
    transition: 0.3s;
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-family: Segoe UI;
}

#main_nav a:hover {
    color: white;
    transition: 0.3s;
    background: #316dc3;
}

.active .nav-link:hover {
    color: #fff !important; 
    background: #316dc3 !important;
}

.dropped, .inner-dropdown, .sub-dropdown {
    margin: 0px;
    width: 200px;
    padding: 0px;
    border: none;
    border-radius: 0px;
    height: fit-content;
}

.inner-dropdown, .sub-dropdown {
    top: 16px;
    left: 200px;
    position: relative;
}

.empty {
    height: 16px;
    background-color: ghostwhite;
    border-bottom: 1px solid lavender;
}

#main_nav .dropped li a {
    color: gray;
    font-weight: 500;
    font-size: 13px !important;
    font-family: Segoe UI !important;
}

#main_nav .dropped li a:hover {
    color: white;
    padding-left: 28px;
}

.mobile_nav {
    top: 65px;
    z-index: 1;
    position: sticky;
}

.mobile_nav a {
    border-bottom: 1px solid lavender;
}

.mobile_nav .nav-link {
    color: black;
    background: transparent;
}

.mobile_nav .dropped li a {
    padding-left: 40px !important;
}

.mobile_nav .dropped .dropped li a {
    padding-left: 60px !important;
}

.mobile_nav .dropped .dropped .dropped li a {
    padding-left: 80px !important;
}

.mobile_nav ul li a i {
    float: right;
    font-size: 18px;
}

.carousel-item {
    transition: 3s;
}

.carousel-item img {
    max-height: 505px;
    object-fit: cover;
}

.headlines {
    display: flex;
    padding: 12px 0px;
    justify-content: center;
    background-color: white;
}

marquee {
    padding: 3px;
    max-width: 90%;
    color: white;
    font-size: 14px;
    background-color: #316dc3;
}

.intro {
    max-width: 100%;
    padding: 50px 0px;
    background-color: ghostwhite;
}

.intro .row {
    margin: auto;
    max-width: 980px;
}

.heading h1 {
    font-size: 32px;
    font-weight: 900;
    color: #316dc3;
    text-align: center;
    font-family: Merriweather;
}

#underline {
    width: 170px;
    margin: auto;
    display: flex;
}

#underline hr {
    top: 12px;
    width: 35px;
    position: relative;
    border: 1px solid #427900;
}

.intro p {
    color: gray;
    font-size: 14px;
    line-height: 25px;
    text-align: justify;
    margin-bottom: 50px;
}

.stats {
    min-width: 100%;
    padding: 60px 0px;
    background-color: #2755e9;
}

.stats .row {
    margin: auto;
    display: flex;
    max-width: 1200px;
    align-items: center;
    justify-content: space-around;
}

.stats .row div {
    margin: auto;
    min-width: fit-content;
    margin: 25px auto;
    text-align: center;
    height: fit-content;
}

.stats h1 {
    color: white;
    font-size: 48px;
    margin: 10px 0px 25px 0px;
    font-family: Merriweather;
}

.stats h4 {
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    font-family: Merriweather;
}

.stats h4 span {
    font-size: 18px;
    color: lawngreen;
}

.doing {
    min-width: 100%;
    padding: 45px 0px;
    background-color: ghostwhite;
}

.doing .row {
    margin: auto;
    display: flex;
    max-width: 1200px;
    align-items: center;
    justify-content: space-around;
}

.services .row div {
    height: 188px;
    max-width: 355px;
    padding: 30px 0px;
    text-align: center;
    margin-bottom: 35px;
    background-color: white;
    box-shadow: 0px 8px 20px 0px lightgray;
}

.services .row div h3 {
    font-size: 18px;
    margin: 25px 0px;
    font-weight: 900;
    color: #316dc3;
    font-family: Merriweather;
}

.mission-row {
    max-width: 85%;
    margin: 0px auto;
}

.mission h3 {
    font-size: 24px;
    font-weight: 900;
    color: #316dc3;
    font-family: Merriweather;
}

.mission hr {
    top: -10px;
    width: 60px;
    position: relative;
    display: inline-block;
    border: 1px solid #427900;
}

#joined {
    left: -5px;
    max-width: 80%;
    min-width: 70%;
    position: relative;
    border: 1px solid lavender;
}

.events {
    width: 100%;
    padding: 10px;
    height: 200px;
    color: gray;
    margin-top: 10px;
    padding-right: 50px;
    background-color: white;
}

.projects div {
    padding: 17px;
    display: flex;
    max-width: 45%;
    margin: 10px 0px;
    margin-right: 25px;
    border: 1px solid lavender;
    background-color: ghostwhite;
}

.projects h5 {
    font-size: 16px;
    font-weight: 900;
    color: #316dc3;
    margin-top: 10px;
    margin-left: 30px;
    font-family: Merriweather;
}

.gallery {
    padding: 0px;
    display: flex;
    max-width: 100%;
    flex-basis: 100%;
    margin: 30px auto;
    justify-content: center;
}

.gallery div {
    padding: 0px;
    display: flex;
    cursor: pointer;
    overflow: hidden;
    max-width: 270px;
    margin-right: 2px;
    min-height: 150px;
    margin-bottom: 50px;
    justify-content: center;
}

.gallery div .icons {
    height: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.gallery div .icons i {
    padding: 8px;
    color: white;
    font-size: 14px;
    visibility: hidden;
    margin-right: 10px;
    border-radius: 20px;
    background-color: #316dc3;
    transform: translateY(-80px);
}

.gallery > div:hover {
    outline-offset: -8px;
    outline: 8px solid lavender;
}

.gallery div:hover img {
    opacity: 0.2;
    transition: all 0.5s;
    transform: scale(1.2);
}

.gallery div img:hover + .icons i,
.gallery div .icons:hover i {
    visibility: visible;
    transition: 0.2s linear;
    transform: translateY(0px);
}

.modal {
    z-index: 1;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    overflow: hidden;
    background: rgba(0,0,0,0.6);
}

.modal-content {
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    width: 80%;
    margin: auto;
    display: block;
    max-width: 700px;
    position: absolute;
}

.modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
  
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
  
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
  
.close {
    top: 15px;
    right: 35px;
    color: white;
    font-size: 30px;
    transition: 0.3s;
    font-weight: bold;
    position: absolute;
}
  
.close:hover, .close:focus {
    color: white;
    cursor: pointer;
}

.toright, .toleft {
    top: 48%;
    right: 3%;
    color: white;
    font-size: 35px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
    position: absolute;
    width: fit-content;
    height: fit-content;
}

.toleft {
    left: 3%;
}

.toright:hover {
    right: 2.7%;
}

.toleft:hover{
    left: 2.7%;
}

.footer {
    margin-top: 100px;
    padding: 30px 15px 70px;
    background-color: #25272e;
}

.footer .row {
    margin: auto;
    max-width: 1130px;
}

.footer .row > div {
    margin-top: 50px;
    height: fit-content;
}

.footer .row div hr {
    width: 50px;
    bottom: 12px;
    position: relative;
    display: inline-block;
    border: 1px solid #427900;
}

.contacts div {
    width: fit-content;
    display: inline-block;
}

.footer .row div i {
    margin: 8px 3px;
    color: #427900;
}

.footer .row div {
    color: #bbb;
    font-size: 13.5px;
    line-height: 28px;
}

#join {
    min-width: 70%;
    max-width: 80%;
    border: 1px solid #333;
}

.footer .row div h5 {
    color: white;
    font-size: 14px;
    font-weight: 900;
    font-family: Merriweather;
}

.social-media i {
    cursor: pointer;
    padding: 8px 9px;
    border-radius: 20px;
    color: white !important;
    background-color: #316dc3;
}

.copyright {
    padding: 12px;
    color: white;
    font-size: 11px;
    padding-left: 30px;
    background-color: #316dc3;
}

.copyright .row {
    margin: auto;
    max-width: 1150px;
}

#top {
    width: 50px;
    right: 15px;
    height: 50px;
    bottom: 15px;
    border: none;
    display: flex;
    outline: none;
    color: white;
    cursor: pointer;
    position: fixed;
    font-size: 42px;
    justify-content: center;
    transition: 0.3s linear;
    transform: translateY(65px);
    background-color: rgba(0, 0, 0, 0.1);
}
  
#top:hover {
    background-color: #555;
}

@media all and (min-width: 992px) {
	.navbar .nav-item:hover .dropped { display: block; }
    .dropped li:hover .inner-dropdown { display: block !important;}
    .inner-dropdown li:hover .sub-dropdown { display: block !important;}
}

@media screen and (max-width: 1100px) {
    #main_nav a {
        zoom: 88%;
    }
    .services .row div {
        max-width: 30%;
    }
    .mission-row {
        max-width: 92%;
    }
}

@media screen and (max-width: 991px) {
    .navbar .row {
        min-width: 100%;
    }
    .services .row div {
        max-width: 45%;
    }
}

@media screen and (max-width: 767px) {
    #logo {
        max-width: 80%;
    }
    .heading h1 {
        font-size: 27px;
    }
    .services .row div {
        min-width: 100%;
    }
    .services .row div {
        max-width: 100%;
    }
    .projects div {
        max-width: 100%;
    }
    .gallery div {
        max-width: 93%;
    }
    .last {
        margin-top: 15px !important;
    }
}

@media screen and (max-width: 235px) {
    body {
        zoom: 70%;
    }
}

@media screen and (max-width: 165px) {
    body {
        zoom: 50%;
    }
}