body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    box-sizing: border-box;
}

:root {
    --color-dark: #1d2231;
    --main-color: #72ca19;
    --text-grey: slategray;
}

.main {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(-25deg, var(--main-color) 50%, ghostwhite 50%);
}

.main .row {
    width: 100%;
    margin: auto;
    display: flex;
    min-height: 100vh;
    max-width: 1300px;
    padding: 0px 20px;
    align-items: center;
    justify-content: space-between;
}

#logo {
    font-size: 55px;
    margin-left: 5px;
    color: var(--main-color);
}

#cpss {
    font-size: 55px;
    font-weight: 900;
    margin-left: 15px;
    color: var(--main-color);
}

.info h1 {
    font-size: 55px;
    margin-top: 15px;
    font-weight: 900;
    color: var(--color-dark);
}

.info h3 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 25px;
    color: var(--text-grey);
}

.info div button {
    border: none;
    width: 100px;
    padding: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    margin-right: 10px;
    transition: 0.3s ease;
    background-color: var(--main-color);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

.info div i {
    color: white;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 100%;
    transition: 0.3s ease;
    background-color: var(--main-color);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

.info div button:hover {
    color: var(--main-color);
    background-color: ghostwhite;
}

.info div i:hover {
    transition: 0.3s ease;
    transform: translateY(-3px);
}

.form {
    width: 50%;
    overflow: auto;
    max-height: 95vh;
    backdrop-filter: blur(2px);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.1);
}

.form::-webkit-scrollbar { width: 5px; }

.form::-webkit-scrollbar-track { background: transparent; }

.form::-webkit-scrollbar-thumb { background: rgb(255, 255, 255, 0.2); }

::placeholder { font-size: 14px; }

form {
    width: 100%;
    padding: 50px 30px;
}

label { font-weight: 600; }

input[type=radio] { cursor: pointer; }

.custom-radio { display: inline-block; }

#extras {
    margin-top: 2px;
    font-weight: 400;
    margin: 0px 10px;
}

input[type=checkbox] {
    width: 18px;
    height: 18px;
    cursor: pointer;
    border-radius: 3px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn {
    width: 220px;
    overflow: hidden;
    margin: 15px 0px;
    border-radius: 0px;
    transition: 0.3s ease;
    color: ghostwhite !important;
    background-color: transparent;
    border: 1px solid ghostwhite;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.1);
}

.alert {
    color: red;
    font-size: 14px;
    padding: 5px 15px;
    border-radius: 0px;
}

@media screen and (max-width: 1200px) {
    .main .row {
        padding: 0px 30px;
        justify-content: center;
    }
    .main .row > div { margin: 30px 0px; }
    .form, .info {  
        width: 100%; 
        max-height: fit-content;
    }
    .info h1 { font-size: 52px; }
}

@media screen and (max-width: 560px) {
    .main .row { padding: 0px 10px; }
    .info h1 { font-size: 35px; }
    .info h3 { font-size: 25px; }
    .info div button {
        width: 92px;
        margin-top: 15px;
    }
    .custom-radio { width: 100% !important; }
}
